<div id="signupbg">
<div class="login-page">
 <div class="row">
      <div class="col-md-9">
      <center><p class="title">Sign in to Play</p></center>
      </div>
      <div class="col-md-3 home">
        <a href="/">Home</a>
        </div>
        </div>
  <form class="form-horizontal" action="/users" method="post">
    <div class="form-group">
      <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control input-lg" id="name" placeholder="Enter full name" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class=" glyphicon glyphicon-envelope"></i></span>
        <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" name="email" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group"> 
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>         
        <input type="password" class="form-control input-lg" id="password" placeholder="Enter password" name="password" required>
      </div>
    </div>
      <div id="contain-avatars">
        <center><h3 id="title">select an avatar</h3></center>
              <div ng-controller="IndexController">
                <div class="col-md-2 col-sm-2 col-xs-2 single-avatar" ng-repeat="avatar in avatars" class="avatars ng-scope">

                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </div>
              </div>
            </div>
    <div class="form-group" id="signupbtn">        
      <div class="col-sm-12 btnmargin">   
        <center><button type="submit" class="btn btn-warning btn-lg">Sign Up to Play</button></center>
      </div>   
    </div>
     <center><p> Already have an account? <a href="#!/signin">Sign in</a></center>
  </form>

  <center>Connect to your social accounts</center>
<hr>
     <div id="center">
<a  href="/auth/twitter" class="btn btn-social-icon btn-twitter">
  <span class="fa fa-twitter"></span>
</a>
<a  href="/auth/facebook" class="btn btn-social-icon btn-facebook">
  <span class="fa fa-facebook"></span>
</a>
<a href="/auth/google" class="btn btn-social-icon btn-google">
  <span class="fa fa-google"></span>
</a>
<a  href="/auth/github" class="btn btn-social-icon btn-github">
  <span class="fa fa-github"></span>
</a>
<br>
<br>
</div>


</div>
</div>

</div>
