@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: url('../img/Header2.png') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}
.disabledElement {
   /* Make the disabled links grayish*/
   background: gray !important;
   /* And disable the pointer events */
   pointer-events: none;
 }
 .allModalBtn{
   margin-left: 30%;
 }
 .modal-title{
   text-align: center;
   font-family: "Lobster" !important;
 }
 .modal-body{
   font-family: "Lato";
 }
 .eachUser{
   padding: 0.2em;
 }
 .modalBtn{
   background: #FC9800;
   color: white;
   border: none;
   font-size: 1em;
   padding: 1em;
  font-family: "Lato" !important ;
   border-radius: 1em;
 
 }
 .modalBtn:hover{
   background: #c98c2a !important;
 }
 .modal-dialog{
   max-height:80%;
   margin-top: 50px;
   margin-bottom:50px;
   max-width: 36em;
 }
 .usernameHeader{
   position: fixed;
   margin-top: 0.5em; 
 }
 .modalHeight{
   margin-top: 3em;
   margin-bottom: 0.3em;
   overflow-y: scroll;
   overflow-y: auto;
   max-height:20em;
 }
 .headerText{
   font-size: 1.4em;
   margin-bottom:0.2em;
   font-weight:bold;
 }
 .msgCenter{
   text-align: center;
 }
 .modal-header {
   color: whitesmoke;
   background-color: #cf6d17;
   border-top: #cf6d17;
   border-top-color: #cf6d17;
   border-color: #cf6d17;
 }
 .searchErrorMsg{
   margin-top: 2em;
 }
html{
  background: transparent;
}
.playModal{
margin-left: 12%;
}
.login-page {
  background: #fff;
  color: #cf6d17;
  padding: 10px 3em;
  max-width: 480px;
  margin : 60px auto;
 
  
}
#how-to-play{
  background-color: white;
}
#title{
  font-family: 'Lobster';
  font-size: 25px;
  margin-left: 20px;
}
.titl {
  font-family: 'Lobster';
  font-size: 25px;
  text-align: center !important;
}

.social:hover{
  transition: 0.2s;
  font-size: 25px;
}
div#social {
  text-align: center;
}
.socialbtn{
  font-size: 20px;
  color:#cf6d17;
   padding-bottom: 20px;
}

p.account{
color: #000;
}
.account a{
  color: #cf6d17;
}
.homelink a{
  color: #cf6d17;
}
.btn-lg{
  transition:0.5s;
  margin-right: auto;
}
.home {
  margin-top: 10px;
  padding-left: 20px;
}

.single-avatar img {
  width: 40px;
  margin-bottom: 20px;
}
.btnmargin{
  margin-top: 20px;
}

#nav-bar{
  margin-bottom: 2%;
  background: transparent ! important;
  border: transparent ! important;
  padding-top: 20px;
  padding-right: 30px;

      -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
 
}
  .row {
    margin-right: 15px !important;
  }

#navbar .scrolled {
    background: rgb(68, 68, 68);
    background: rgba(0, 0, 0, 0.78);
}
#nav-bar a{
  color: #fff ! important;

}
.nav li a{
  height: 40px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  margin-top: 20px;

}
.nav li a:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
}


#landing{
  background:url('../img/bg.png') no-repeat;
  height: 768px;
  background-size: cover;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
#cfh{
    font-size: 4em;
    text-shadow: 2px 1px 2px #D0011B;
    font-family: 'Lobster';
    color: white;
}

#center {
  text-align: center;
}


#description{
   color: #fff !important;
   font-size: 1.5em;
}
#send-link{
  padding-top: 2%;
}
#rules {
  width: 100%;
  float: left;
  clear:none;
}
#left{
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 15%;
}
#right{
  width: 20%;
  float: right;
  text-align: center;
   padding-top: 15%;
}
  .fa-angle-left, .fa-angle-right {
    color: #000 !important;
  }

div#right a:hover, div#left a:hover {
  cursor: pointer;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  font-size: 2.5em;
  color: #cf6d17;
  font-family: 'Lobster', 'san-serif';
  padding: 30px 0 0 0;
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
  
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 120px;
        height: 1px;
        background: #000;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }

    div#carousel { 
  perspective: 1200px; 
  padding-top: 2%; 
  font-size:0; 
  width: 60%;
  float: left;
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 420px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 300px; 
  position: absolute; left: 35%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#left ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#left ~ span:hover { color: #888; cursor: pointer; }
.rules{
  width: 250px;
  height: 300px;
}
div#gamerules{
  display: none;
}
 .sign-up {
   text-align: center;
   margin: 20px 0px;
  font-size: 20px;
 }
 #sign-up {
   text-align: center;
 }
 #sign-up-btn-landing {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 6px 20px;
    border-radius: 5px;
    border: 2px solid #cf6d17;
    background: #cf6d17;
    margin: 25px auto 25px auto;
 }
  #sign-up-btn-land {
    color: #fff;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid #cf6d17;
    background: #cf6d17;
    margin: 25px auto 25px auto;
 }
  .tour {
    margin-bottom: -30px !important;

  };

#sign-up-btn-landing:hover {
     background:#993300;
     border: 2px solid #993300;
     transition: 0.5s ease-out;
}
#guest-btn {
    color: #cf6d17;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 6px 13px;
    border-radius: 5px;
    border: 2px solid #cf6d17;
    background: #fff;
    margin: 25px;
}

#guest-btn:hover {
  border: 2px solid #993300;
  color: #993300;
  transition: 0.5s;
}
div.sign-up span a {
  text-decoration: none;
}
a.stranger-btn {
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #cf6d17;
  background-color: #cf6d17;
  color: #fff;
}

.stranger-btn:hover, .friends-btn:hover, #sign-up-btn-land:hover {
  border: 1px solid #cf6d17;
  color: #cf6d17;
  background: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

a.friends-btn {
  padding: 7px 15px;
  margin-top: 35px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #cf6d17;
  background-color: #cf6d17;
  color: #fff;
}
#join-game {
  padding: 7px 20px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #cf6d17;
  background-color: #cf6d17;
  color: #fff;
  margin: 2px 300px;
}
#title{
  font-family: 'Lobster';
  font-size: 25px;
}
.title {
  font-family: 'Lobster';
  font-size: 25px;
  margin-left: 130px;
}
#signupbg{
  background-color: #fff;
  
}
.single-avatar img {
  width: 40px;
}
.btnmargin{
  margin-top: 20px;
}
#signup{
  margin-left: 10%;
    margin-right: 10%;
}
#signupbg{
  background: url('../img/Header2.png') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
}

#contain-avatars{
  margin-top: 5%;
}

#contain-avatars li{
  display: inline;
}

#join-game:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

#facebook-share{
   font-size: 12px;
   padding: 3px;
   background: white;
   border-radius: 3px;
   margin-left: 10px;
   padding-top: -10px;
   background-color: #f8f8f8;
   background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
   background-image: -moz-linear-gradient(top,#fff,#dedede);
   background-image: -o-linear-gradient(top,#fff,#dedede);
   background-image: -ms-linear-gradient(top,#fff,#dedede);
   background-image: linear-gradient(top,#fff,#dedede);
   border: #ccc solid 1px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #333;
   font-weight: bold;
   text-shadow: 0 1px 0 rgba(255,255,255,.5);
   -webkit-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: pointer;
}

#facetweet {
  margin-bottom: 15px;
}

#facebook-share a{
   color: #333;
   
}
.twitter-share-button{
  margin-top: 10px;
}
.twitter-follow-button{
  margin-top: 10px;
}
#tweet-container-index{
  margin-top: 60px;
}

  .btn-dange {
    background-color:#e67e22;
    border: #e67e22;
    border: 1px solid #e67e22;
  }
  
  .collapsemenu {
    color: #fff;
  }
  .meet-the-team {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: -5px;
}
.team-name {
  padding-top: 10px;
  font-family: 'Lobster', 'sans-serif' !important;
}

.meet-the-team h2 {
  padding-bottom: 40px;
  font-family: 'Lobster', 'sans-serif' !important;
}
.team-img {
  margin: auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.left-wing {
  background: url('../img/bgtest.png');
  padding-bottom: 25px;
}

.youtube {
  width: 653px;
  height: 546px;
  margin-left: -15px;
}
.make-impact {
  color: #fff;
  text-align: center;
  padding: 0px;
}
div.make-impact h3 {
  padding: 10px 0px 0px 0px;
  text-transform: uppercase;
  font-family: 'Lobster', 'san-serifs';
}
div.make-impact p {
  padding: 0px 10px;
  text-align: left;
  line-height: 30px;
}

 div.crowdrise a img {
  margin-top: -40px;
  height: 190px;
  width: 340px;
  margin: 30px 0px 45px 0px; 
} 
div.col-sm-12 div.crowdrise a img{
  margin-right: auto;
  margin-left: auto;
  
}
div.col-sm-12 div.crowdrise a img:hover {
  cursor: pointer;
}

div.make-a-wish {
   margin-top: 5px; 
}
.footer {
  background-color: #3d3d5c;
  color: #fff;
  text-align: center;
  padding: 5px 2px;
  margin-top: -5px;  
}

div.col-lg-4 ul {
  margin-left: -15px;
}

.list-link ul {
  margin-top: 40px;
}

.list-link ul li {
  display: inline;
}

.list-link ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 4px;
}

.list-link ul li a:hover {
  border-bottom: 2px solid #e67e22;
  cursor: pointer;
}
.legal-stuff {
  padding: 5px;
}
.privacy-policy {
  margin-top: 43px;
}
@media (max-width: 1200px) {
    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
        font-size: 2.5em;
    }
.btnmargin{
  margin-top: 20px;
}
    .strike > span {
        position: relative;
        display: inline-block;
    }
  
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 120px;
        height: 1px;
        background: #000;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }

  .how-to-play {
    display: none;
  }

  div#gamerules{
  display: inline-block;
}
div.crowdrise a img {
  margin-top: -40px;
  height: 190px;
  width: 340px;
  margin: 30px 0px 55px 0px; 
}
footer {
  margin-top: -40px;
}
.youtube {
  width: 110%;
  height: auto;
  margin-left: -15px;
}
}
@media(min-width: 769px) and (max-width: 1199px) {
  .left-wing {
  background: url('../img/bgtest.png');
  padding-bottom: 105px;
  padding-top: 20px;
  width: 101.6%
}
#join-game {
  margin: 2px 200px;
}
.btnmargin{
  margin-top: 20px;
}

div.crowdrise a img {
  margin-top: -40px;
  height: 190px;
  width: 340px;
  margin: 30px 0px auto 0px; 
}
footer {
  margin-top: -27px;
}
.youtube {
   width: 105%; 
  height: 430px;
}

}

@media (max-width: 768px) {
  .btn{
    margin-left: 15px ! important;
     margin-right: 15px ! important;
       margin-top: 20px ! important;
  }
    .socialbtn{
    margin: -5px;
  }
  .nav li a{
    text-align: center ! important;
  }

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    border: transparent ! important;
  }
  .btn-dange{
    background-color:#e67e22;
    border: #e67e22;
  }
  .navbar-toggle{
    color: #fff;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #e67e22;
    color: #fff;
  }
  .left-wing {
  background: url('../img/bgtest.png');
  padding-bottom: 25px;
  padding-top: 20px;
}
#join-game {
  margin: 2px 30px;
}
#cfh{
    font-size: 3em;
}
.btn-dange:hover {
    border:  1px solid #cf6d17;
  }
  div.crowdrise a img {
  margin-top: -40px;
  height: 190px;
  width: 340px;
  margin: 20px 0px 50px 0px; 
}
.row {
  margin-right: 0px !important;
}
.youtube {
  width: 110%;
  height: 330px;
}
}

@media(min-width: 413px) and (max-width: 780px) {
  .youtube {
    width: 105%;
  }
  .socialbtn{
    font-size: 15px;
  }
  div.col-lg-4 ul {
  padding-bottom: 20px !important;
}
.btnmargin{
  margin-top: 20px;
}
}
@media(min-width: 400px) {
  .youtube {
    width: 107.7%;
  }
  .btnmargin{
  margin-top: 20px;
}
}
@media(min-width: 996px) and (max-width: 1198px) {
  .youtube {
    width: 214% !important;
  }
  .btnmargin{
  margin-top: 20px;
}
}
